<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>資管二A 411154507 游竣程的求職相關資訊</title>
<style type="text/css">
* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
h1 {color:#2828FF; font-size:50px;}
h2 {color:#7B7B7B; font-size:40px;}
h3 {color:#8600FF; font-size:40px;}
h4 {color:#F75000; font-size:25px;}
</style>

<script>


</script>

</head>
    <body>
        <body background="/static/背景.JPG">
    <?php echo date("2023-10-13") ?>
<table width="70%">
    <tr>
        <td>
            <img src="/static/證件照.JPG" alt="照片" width="100" class="img-fluid rounded-circle" id="PICTURE">

        </td>

        <td>
            <h1>游竣程<h1>
            <h2><id="h2text">CHUN-CHENG YU<h2>
        </td>
    </tr>
</table>

<table width="70%" border="none">
    <tr>
        <td><h3>我的興趣何倫碼測驗結果<h3><br></td>
        <td>
            <img src="/static/和倫碼.JPG" alt="照片" width="800" class="img-fluid rounded-circle" id="PICTURE"><br>
        </td>
    </tr>
</table>
<table width="70%" border="none">
     <tr>
        <td><h3>我的興趣何倫碼測驗結果<h3><br></td>
        <td>
            <img src="/static/和倫碼解說.JPG" alt="照片" width="800" class="img-fluid rounded-circle" id="PICTURE"><br>
        </td>
    </tr>
</table>
<table width="70%" border="none">
     <tr>
        <td><h3>有興趣的MIS相關工作<h3><br></td>
        <td>
            <img src="/static/work.jpg" alt="照片" width="800" class="img-fluid rounded-circle" id="PICTURE"><br>
        </td>
    </tr>
</table>
<table width="70%" border="none">
     <tr>
        <td><h3>為甚麼我適合這份工作?<h3><br></td>
        <td><h4>
           因為我對程式非常有興趣尤其網頁設計的部分,在修課規劃中我會以學習html的課程優先選擇,也會到外去參加研習,在工作的部分,我認為我適合這份工作,因為這份工作需要具備css與html技術的畢業生,兩者我都正在進修中且都有興趣,在未來若是有機會希望成為此公司的一員.
        <h4></td>
    </tr>
</table>
<table width="70%" border="none">
     <tr>
        <td><h3>應徵的職位<h3><br></td>
        <td><h4>
應徵職位為數位內容專員<br>
工作內容：<br>
• 負責更新Melaleuca.com 網站、應用程式和行動網站上的所有內容。<br>
• 與行銷、業務開發和銷售部門合作，收集用於創建和實施網站內容功能的適當資訊。<br>
• 使用 HTML、CSS 和 Javascript 編碼技能建立頁面來顯示內容<br>
• 與品類經理合作，每月更新產品商店窗口/產品亮點，提供新鮮且引人入勝的內容。<br>
• 每月設定及管理網路及促銷活動。<br>
• 調整、最佳化和上傳 SKU、網頁內容、電子郵件和產品商店視窗的圖像<br>
• 每月設定和編輯產品－這需要使用HTML 技能來適當地設定內容格式。<br>
• 輸入簡短和詳細的描述，輸入正確的尺寸/數量，PDF<br>
• 使用 Photoshop 格式化和編輯影像，建立針對網路最佳化的影像。<br>
• 準確實施所有支援語言的翻譯和在地化。<br>
<h4></td>
    </tr>
</table>
</body>

</body>
</html>